* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  height: 100%;
  background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%) no-repeat;

}